*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
:root{
    --main_color:#008080;
    --white_color:#e6e3e3;
    --danger_color:crimson;
    --light-white:#FFFFFF;
    --black_color:#000000;
}
.center{
    text-align: center;
    font-size: 22px;
    text-shadow: 0 0 3px var(--danger_color), 0 0 1px var(--white_color);
}
input,button{
    border: none;
    outline: none;
    cursor:pointer;
}

.d-flex-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-1{
    min-height: 100vh;
    width: 100%;
    background: #011a44;
    padding: 60px 0;
}
.form_box{
    width: 600px;
    background: linear-gradient(146deg,var(--main_color)50%, var(--white_color)50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 20px;
    margin: auto;
}
.input_field{
    display: flex;
    margin: 20px auto;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
input{
    flex: 3;
    padding: 10px 12px;
    border-radius: 5px 0 0 5px;
    font-size: 17px;
}
.add_btn{
    flex: 1;
    padding: 10px 12px;
    background: var(--black_color);
    color: var(--white_color);
    font-size: 22px;
    border-radius: 0 5px 5px 0;
}
.add_btn:hover{
    opacity: 0.9;
}
.todo_list{
   margin: 0;
   padding: 20px;
   overflow: hidden;
}
li{
    width: 100%;
    list-style: none;
    background: #00a3e4a1;
    padding: 10px  20px;
    border-radius: 3px;
    margin: 10px 0;
    color: var(--white_color);
    font-size: 19px;
}
li p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.edit_btn, .delete_btn{
    padding: 6px 12px;
    margin: 5px 0;
    color: var(--white_color);
    border-radius: 6px;
    font-size: 15px;
}
.edit_btn{
    margin-right: 5px;
    background: var(--main_color);
}
.delete_btn{
    background: var(--danger_color);
}


@media(max-width:756px){
    .form_box{
        padding:20px;
        margin: 20px auto;
    }
    input{
        flex: 2;
    }
}