.modals-container{
    position: relative;
    width: 100%;
}
   
.modals-body{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  color: #03af94;
}