.modals-container{
 position: relative;
 width: 100%;
}

.modals-body{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background: crimson;
  color: #fff;
}